# HearAid Global Environment Variables Example

# Backend Service
PORT=5000
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/HearAid?retryWrites=true&w=majority
CLIENT_ORIGIN=https://hearaid.vercel.app
NODE_ENV=production
GROQ_API_KEY=gsk_your_groq_api_key_here

# Frontend Service
REACT_APP_API_URL=https://hearaid-twinai-tnu1.onrender.com

